
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
.cabeçalho{
    background-color: #B31312;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
.titulo{
    font-family: Jockey One;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 96px;
}
.imagem_cabeçalho_pinterest{
    width: 190px;
    margin: 40px;
}
.cabeçalho{
    display: flex;
    justify-content: space-evenly;
}

.finalidade{
    background-image: linear-gradient(#EFBBBB, #FDFDFD); 
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding-top: 100px;
    padding-bottom: 100px;
}
.imagem_finalidade_pinterest{
    width: 340px;
    height: 300px;
}
.conjunto_informativo{
    font-family:  Jockey One;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    text-align: justify;
    color: #2B2A4C;
    width: 60%;

}
.inpirações{
    background-color: #2B2A4C;
    padding-top: 50px;
    padding-bottom: 100px;
}
.inpirações_titulo{
    font-family: Jockey One;
    font-weight: 400px;
    font-size: 96px;
    font-style: normal;
    color: #F5F5F5;
    text-align: center;
    margin-left: 140px;
    margin-top: 40px;

}
.inspirações_imagem{
    margin: 95px;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.rodapé{
    background-color: #B31312;
}
.links{
    font-family: Jockey One;
    font-weight: 400px;
    font-size:30px;
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
a:hover{
    color: #EFBBBB;
    text-decoration: underline;
}
